{% extends "layout.html" %}

{% block body %}
    <div class="px-6 bg-blue-200">
        <div class="flex justify-around bg-blue-200">
            <div></div>
            <div class="font-slab text-white text-4xl font-bold rounded flex items-center justify-self-start bg-blue-600 p-2 m-10"> Level {{ quiz.level }} </div>
            <div class="font-slab text-white text-xl font-medium rounded flex items-center justify-self-end bg-blue-600 p-2 m-10"> {{ correct }} van de {{ questions|length }} vragen goed</div>
        </div>
    </div>
    {% block question %}
    {% endblock %}
{% endblock %}